<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".AjustesActivity"
            android:exported="false" />

        <activity
            android:name=".vista.actividad.IngresarActividad"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".vista.actividad.EditarActividad"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".vista.actividad.RegistrarAvance"
            android:exported="false" />

        <activity
            android:name=".vista.actividad.DetalleActividad"
            android:exported="false" />

        <activity
            android:name=".vista.actividad.ListaActividades"
            android:exported="false" />

        <activity
            android:name=".vista.sesionEnfoque.SesionEnfoqueActivity"
            android:exported="false" />

        <service
            android:name=".controlador.EnfoqueService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".vista.juegomemoria.JuegoMemoria"
            android:theme="@style/Verde.Theme.MyApplication"
            android:exported="false" />

        <activity
            android:name=".vista.hidratacion.HidratacionMenu"
            android:theme="@style/Azul.Theme.MyApplication"
            android:exported="true" />

        <activity
            android:name=".vista.hidratacion.RegistroTomaActivity"
            android:theme="@style/Azul.Theme.MyApplication"
            android:exported="true"/>

        <activity
            android:name=".vista.hidratacion.MetaActivity"
            android:theme="@style/Azul.Theme.MyApplication"
            android:exported="false"/>
        <activity
            android:name=".vista.sostenibilidad.MainSostenibilidadActivity"
            android:theme="@style/Verde.Theme.MyApplication"
            android:exported="false" />

        <activity
            android:name=".vista.sostenibilidad.RegistroBioindicadoresActivity"
            android:theme="@style/Theme.Material3.DayNight.Dialog"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.dan21az.bioedu.shortcuts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>